body {
    font-family: "Courier New", Courier, monospace;
    background-color: #eee;
    margin-bottom: 4rem;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: auto auto 300px;
}

.urgent {
    background-color: red;
    color: black;
}

.counter {
    color: green;
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incident-link {
    color: red;
}

a:hover {
    background-color: blue;
    color: white;
}

.info-block {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#incident-list {
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

#total {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}

#total > p {
    width: 100%;
}

.incident-wrapper {
    border-style: outset;
    border-width: 10px;
    border-color: "dark grey";

    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-right: 10px;

}

table,
td {
    border: 1px solid #333;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

@media (max-width: 52em) {
    #incident-list {
        grid-template-columns: auto auto;
    }

    .header {
        grid-template-columns: auto auto;
    }

    .audio-container {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    table {
        width: 100%;
    }
}

