body {
    font-family: "Courier New", Courier, monospace;
    background-color: #eee;
}

.header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: auto 300px;
}

.urgent {
    background-color: red;
}

.audio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 60% auto;

}

.incident-link {
    color: red;
}

#incident-list {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 40%;
}

@media (max-width: 52em) {
    #incident-list {
        grid-template-columns: auto;
    }
}

#total {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.incident-wrapper {
    list-style: none;

    border-style: outset;
    border-width: 10px;
    border-color: "dark grey";

    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 15px;
    padding-right: 10px;

}
