html {
    height:100%;
}

body {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    color:#222;
    font-family: sans-serif;
    font-size: 1.2rem;
}

p {
    margin-bottom: 15px;
    margin-left: 5px;
    line-height: 1.5;
}

a:link {
    color: #222;
}

a:visited {
    color: #888;
}

a:hover {
    color: #444;
}

a:active {
    color: #222;
}

ul {
    margin-top: 0px;
    padding-top: 0px;
}

h1,h2,h3 {
    line-height:1.5;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

pre {
    color: #f1f1f1;
    font-family: monospace;
    font-size: 1rem;
    background-color: #222;
    border: 1px solid #222;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width:inherit;
}

pre code {
    padding: 0;
    border: none;
}

.buttons a {
    color: white;
    text-decoration: none;
}

.buttons a:hover:not(.active) {
    color: #f1f1f1;
    background-color: #444;
}

.header {
    color: white;
    background-color: #222;
}

.sticky {
    position: sticky;
}

.flex-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}
